body{
    background-color: #ffffff;
    color: black;
    font-size: 16px;
}

.desktop {
    display: inline !important;
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 12px;
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: inline !important;
    }
}